<li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{eaten}}">
		{{#if eaten}}BURGER TIME!{{else}}GET BURGER!{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li>
